body{
    /* background: url("./src/assets/images/star.jpg") no-repeat center center fixed; */
    background-color: rgba(0, 0, 0, 0.900);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}